* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


/* -------------NAVBAR----------- */

.navbar {
  background: linear-gradient(
    145deg,
    rgb(155, 0, 226),
    rgb(195, 85, 247),
    rgb(2, 175, 255)
  );
  color: white;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  text-align: center;
}

.navbar ul {
  display: inline-block;
}

.navbar li {
  display: inline-block;
}

.logo img {
  display: inline;
  width: 6rem;
  margin-left: 1.5rem;
  float: left;
}

.logo img:hover {
  filter: invert(50%) sepia(50%) saturate(2878%) hue-rotate(179deg) brightness(500%) contrast(97%);
}

.menu-items {
  display: inline;
  margin: auto;
  margin-left: -7.5rem;
}

.menu-items a {
  color: white;
  text-transform: uppercase;
  border: 1px solid;
  padding: 3px 10px;
  margin: 0px 5px;
}

.menu-items a:hover {
  text-decoration: underline;
  border: none;
  filter: invert(50%) sepia(50%) saturate(2878%) hue-rotate(179deg) brightness(500%) contrast(97%);
}

#main-menu {
  top: 0;
  transition: .3s ease-in-out;
}


/* -------------HAMBURGUER NAVBAR----------- */

#checkbox {
  display: none;
}

#hamburguer-menu label {
  display: none;
  font-size: 1.33rem;
  float: right;
  margin-right: 2.5rem;
}

#hamburguer-menu label:hover {
  filter: invert(50%) sepia(50%) saturate(2878%) hue-rotate(179deg) brightness(500%) contrast(97%);
  cursor: pointer;
}



/* -------------SECTIONS----------- */

#home {
  height: 100vh;
  background: 
    linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70%);
}

#azul {
  background-color: aqua;
  height: 100vh;
}

#amarelo {
  background-color: yellow;
  height: 100vh;
}

#vermelho {
  background-color: fuchsia;
  height: 100vh;
}

.footer {
  padding: 1.5rem;
  justify-content: center;
  text-align: center;
}


/* -------------WHATSAPP----------- */

.whatsapp-icon img {
    position: fixed;
    bottom: 0;
    right: 1rem;
    height: 6rem;
    z-index: 2;
    filter: drop-shadow(0 0 0.2rem rgb(37, 37, 37));
}

.whatsapp-icon img:hover {
    cursor: pointer;
    filter: invert(50%) sepia(50%) saturate(2878%) hue-rotate(179deg) brightness(500%) contrast(97%);
}


/* -------------MEDIA QUERIES----------- */

@media (max-width: 768px) {
  
    #hamburguer-menu label {
      display: block;
    }

    #checkbox ~ .menu-items a {
      display: none;
    }

    #checkbox:checked ~ .menu-items a {
      display: block;
      color: white;
      margin: 1rem 0;
    }

    .navbar li {
      display: block;
    }

    .navbar ul {
      background: linear-gradient(
    155deg,
    rgb(2, 175, 255),
    rgb(195, 85, 247),
    rgb(155, 0, 226)
      );
      padding: 0 4rem 0 1rem;
      position: absolute;
      right: 0;
      top: 5rem;
    }
}